<h1><%= @list.name %></h1>

<div class="row">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="col-md-4">
      <div class="card mb-3 shadow">
        <%= image_tag "tickets.jpg", class: "card-img-top" %> <!-- Insérer l'image -->
        <div class="card-body">
          <h3 class="card-title"><%= bookmark.movie.title %></h3>
          <p class="card-text"><%= bookmark.movie.overview %></p>
          <div class="d-flex justify-content-between align-items-start">
            <p class="card-text"><%= bookmark.comment %></p>
            <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Delete ?"}, class: "btn btn-link text-danger font-weight-bold" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Back to my lists", lists_path, class: "btn btn-secondary btn-sm" %>
