<div class="container m-5">
  <h1>Add a bookmark</h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, prompt: "Choose a movie:" %>
    <%= f.input :comment %>
    <br>
    <%= f.submit "Add", class: "btn btn-primary" %>
  <% end %>

  <div class="my-5">
  <%= link_to "Back to my list", list_path(@list), class: "btn btn-secondary btn-sm" %>
  </div>
</div>
