<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand m-3"><i class="fa-solid fa-clapperboard"></i></a>
      <form class="form-inline m-3">
        <button class="btn btn-outline-secondary" type="submit"><%= link_to "My lists", lists_path %></button>
        <button class="btn btn-outline-secondary" type="submit"><%= link_to "New list", new_list_path %></button>
      </form>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
